<template>
    <div class="login-views">
        <h1>Login</h1>
    </div>
</template>

<script>
    export default {
        name: "Login",
        data () {
            return {}
        },
        mounted () {
        }
    }
</script>
