<template>
    <div class="home-views">
        <main class="main">
            {{money | moneyFilter}}
        </main>
    </div>
</template>

<script>
    import {post, get} from '../utils/axios';
    import storage from "../utils/storage";

    export default {
        name: 'home',
        data () {
            return {
                url: '',
                money: '1232'
            }
        },
        methods: {
            initialization: function (callback) {
                callback()
            }
        },
        created () {
            this.initialization(() => {
            })
        }
    };
</script>
