<template>
    <div class="sign-views">
        <h1>Sign</h1>
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name: "Sign"
    }
</script>

<style scoped>

</style>