.views-container {
  .main {
  }
}

.toast {
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -0.5rem;
  margin-left: -0.75rem;
  width: 1.5rem;
  height: 1rem;
  padding: 0.1rem 0;
  color: #FFF;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.05rem;
  transition: all 0.5s;

  &.hide {
    opacity: 0;
  }
}